html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

header {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    color: #44434a;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

button {
    width: 75px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    border: solid 0.5px #44434a;
    color: #eaeaea;
}

#calculator {
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border: solid 0.5px #44434a;
    border-radius: 10px;
}

#display {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px;
    border: solid 0.5px #44434a;
    border-radius: 10px 10px 0px 0px;
    background-color: #44434a;
    color: #eaeaea;
    font-size: 50px;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

#operators {
    display: flex;
    flex-direction: column;
}

.operator {
    background-color: #2b759c;
}

.function {
    background-color: #56555c;
}

.operand {
    background-color: #727176;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

#zero {
    flex: 2;
    border-radius: 0px 0px 0px 10px;
}

#equal {
    border-radius: 0px 0px 10px 0px;
}